.search-div-wrapper {
  height: 60vh;
  width:'100%';

  margin-bottom: 50px;

  font-size: 1em;


}

.search-location-li {
  z-index: 4;
  position: relative;
  top:  73%;
  /* height: 50px; */
  width: 60%;
  left:20%;
  border: 1px solid gray;
  overflow: hidden;
  text-align: right;
}

.search-location-li .search-location-li-close-icon {
  position: absolute;
  left: 10px;
  padding-top: 15px;

}

.search-location-li .search-location-li-close-icon:hover {
  cursor: pointer;
}

.search-location-li .search-location-text {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  padding-right: 15px;
  padding-top: 15px;
  height: auto;
  z-index: 2222222222;

  margin-left: 40px;



}

.search-location-li .search-my-location-text {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 15px;
  height: auto;
  z-index: 2222222222;

  margin-left: 40px;



}



.search-location-li .search-location-text:hover {
  cursor: pointer;

}



.search-location-li .search-location-text p {

  padding-right: 15px;
  margin-top: -5px;
  font-size: 1.3em;
  font-family: iransans;

}



.search-div-wrapper .navbar-serach {
  position: relative;
  top:  70%;
  height: 50px;

  width: 60%;
  left:20%;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  opacity: .96;

}

.navbar-serach-icon {
  position: absolute;
  left: 1%;
  top: 1px;
  padding: 5px;
  max-height: 100%;



}

.singleSearchResault {
  border-bottom: .5px solid black;
  padding-top: 10px;
  font-family: iransans;
}

.singleSearchResault p{
  color: #444;
  font-family: iransans;
}

.search-input {
  text-align: right;
}

.navbar-about-place {
  right: 3%;
    position: absolute;
    background: #ffffff70;
    margin: 15px;
    flex-direction: row;
        display: flex;

}
.navbar-about-place p {
  font-size: 16px;
    color: #444;
    justify-content: center;
    text-align: center;
    padding: 10px;
}


.neighborhoods-wrapper{
  position: relative;
  top:  70%;
  height: 40px;
  padding:5px;
  padding-top: 5px;
  overflow: hidden;
  background: rgba(226, 224, 224, 0.392);
  width: 90%;
  left:5%;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  opacity: .96;
  
}


/* mobile friendly */

@media (max-width: 600px) {

  .search-div-wrapper {
    border: 1px solid orange;
    max-height: 35vh;

    font-size: 1em;


  }

  .search-div-wrapper .navbar-serach {
    position: relative;
    top:  70%;
    height: 70px;
    overflow: hidden;

    width: 90%;
    left:5%;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    opacity: .96;

  }

  .search-location-li {
    z-index: 4;
    position: relative;
    top:  60%;
    /* height: 50px; */
    width: 90%;
    left:5%;
    border: 1px solid gray;
    overflow: hidden;
    text-align: right;
  }


}

@media (min-width: 600px) {


}
