<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    body {
      background-color: #fafafa;
    }
    
    h1 {
        text-align: center;
        color: pink;
        padding: 100px;
        background: black;
        margin: 30px 170px;
    }

    h2 {
        text-align: center;
        color: red;
        background-color: pink;

        padding: 100px;
        
        margin: 30px 170px;
        border-radius: 20px;
        border : 4px solid black;
    }
    </style>
<body>

    <h1>sahar</h1>
    <h2>kazemi</h2>

</body>
</html>